In [77]:
#Python mengandalkan indentasi, menggunkaan spasi, unutk menentukan cakupan; python menggunkanan baris baru untuk melengkapi perintah, berbeda dengan bahasa pemrogrgaman lain yang sering menggunkana titik koma atayu tanda kurung.
print("Hello, World!")

Hello, World!

In [3]:
#dalam bahasa pemrograman lain, identasi dalam code hanya unutk keterbacaan saja, indetasi dalam python sangant penting. Karena python meenggunkaan indetasi unutk menunjukkan blok code.
if 5>2:
    print("Five is greater than twho!")

Five is greater than twho!

In [4]:
#dalam python akan ada sebuah kesalahan dimana jika anda melewatkan indetasi:
if 5>2:
print("Five greater than two!")

IndentationError: expected an indented block (<ipython-input-4-05cfddaea984>, line 3)

In [8]:
#Pada python jumlah sebuah spasi terserah anda sebagai programer, penggunaan spasi ynag paling umum adalah 4, tetapi minimal harus 1.
if 5 > 2:
 print("Five is greater than two!")  
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
#dalam python anda harus menggunakan spasi yang sama dalam blok code yang sama, jika tidak python akan memberikan anda kesalahan:
if 5 > 2:
print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-12-b7ff32e9bbee>, line 3)

In [14]:
#dalam python, ada variabel dibuat saat anda menetapkan nilai padanya:
x = 5
y = "Hello, Word"
print("x")
print("y")

x
y

In [15]:
#dalam python terdapat sebuah commed bertujuan untuk dokumentasi dalam code. Dimana komentar dimulai dengan #, dan python akan menampilkan sisa baris sebagai komentar: seperti saya buat ini.
print("Hello, World!")

Hello, World!

In [16]:
#keluaran python menggunakan print(). Berfungsi untuk menampilkan teks atau mengeluarkan nilai:
print("Hello,world!")

Hello,world!

In [17]:
#dalam python teks dalam python harus diapit tanda kutip. Anda dapat mrnggunakan " tanda kutip ganda atau ' tanda kutip tunggal:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

In [18]:
#jika anda lupa meletakkan teks di dalam tanda kutip, python akan memberikan kesalahan.
print(This will cause an error)

SyntaxError: invalid syntax (<ipython-input-18-bd7ca57eaba0>, line 2)

In [20]:
#Secara default, print()fungsi diakhiri dengan baris baru Jika Anda ingin mencetak beberapa kata pada baris yang sama, Anda dapat menggunakan endparameter:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [22]:
#Dalam python anda dapat menggunakan print().fungsi ini unutk menampilkan angka: Namun, tidak seperti teks, kami tidak menaruh angka di dalam tanda kutip ganda.
print(3)
print(358)
print(50000)

3
358
50000

In [23]:
#Komentar dapat ditempatkan di akhir baris, dan Python akan mengabaikan sisa baris:
print("Hello, World!") #This is a comment

Hello, World!

In [24]:
#Komentar tidak harus berupa teks yang menjelaskan kode, komentar juga dapat digunakan untuk mencegah Python mengeksekusi kode:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [25]:
#Python tidak benar-benar memiliki sintaksis untuk komentar multibaris. Untuk menambahkan komentar multiline, Anda dapat menyisipkan #untuk setiap baris:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [26]:
#anda juga dapat menggunkan string multiline. Karena python akan mengabaikan literal sotrng yang tidak ditetapkan ke varibael, Anda dapat menambahkan string multiline (tanda kutip tiga) dalam kode anda, dan menempatkan komentar anda di dalamnnya.
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [30]:
#Dalam python penamaan variabel dapat memiliki nama pendek (seperti x dan y) atau nama yang lebih deskriptif. Aturan untuk variabel python Nama variabel harus dimulai dengan huruf atau karakter garis bawah, tidak dapat dimulai dengan angka, hanya dapat berisi karakter alfanumerik dan garis bawah (AZ,0-9,dan _),peka terhadap huruf besar-kecil, dan tidak dapat berupa salah satu kata kunci python
#Contoh legal:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [29]:
#contoh ilegal 
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-29-cd3b1d9a162e>, line 2)

In [31]:
#Dalam python menetapkan beberapa nilai memungkinkan anda menetapkan nilai ke beberapa variabel dalam satu barus:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [33]:
#menetapkan sebuah nilai yang sama ke beberapa variabel dalam satu baris:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [34]:
#Penggunaan Unpack a Collection dimana anda memiliki sekumpulan nilai dalam suatu list, tuple dll, python memungkinkan anda untuk mengekstrak nilai-nilai tersebut ke dalam varibel. ini di sebut dengan unpacking
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [35]:
#varibel output Fungsi ini print()sering digunakan untuk mengeluarkan variabel. Dalam print()fungsi tersebut, Anda mengeluarkan beberapa variabel, dipisahkan dengan koma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [39]:
#Anda juga dapat menggunakan +operator untuk mengeluarkan beberapa variabel:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [40]:
#Untuk angka, +karakter berfungsi sebagai operator matematika:
x = 5
y = 10
print(x + y)

15

In [41]:
#Dalam print()fungsi tersebut, saat Anda mencoba menggabungkan string dan angka dengan + operator, Python akan memberi Anda kesalahan:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
#Cara terbaik untuk menampilkan beberapa variabel dalam print()fungsi adalah dengan memisahkannya dengan koma, yang bahkan mendukung tipe data yang berbeda:
x = 5
y = "John"
print(x, y)

5 John

Varibel global
Variabel yang dibuat di luar fungsi (seperti dalam semua contoh di halaman sebelumnya) dikenal sebagai variabel global.

Variabel global dapat digunakan oleh siapa saja, baik di dalam fungsi maupun di luar.

In [1]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Jika kita membuat variabel dengan nama yang sama di dalam suatu fungsi, variabel ini akan bersifat lokal dan hanya dapat digunakan di dalam fungsi tersebut. Variabel global dengan nama yang sama akan tetap sama, global, dan dengan nilai aslinya.

In [2]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

 Pada Kata Kunci Global
 Biasanya, ketika kita membuat variabel di dalam suatu fungsi, variabel tersebut bersifat lokal, dan hanya dapat digunakan di dalam fungsi tersebut.
Untuk membuat variabel global di dalam suatu fungsi, kita dapat menggunakan kata global sebagai kata kunci.

In [3]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Gunakan juga kata global sebagai kata kunci jika anda ingin mengubah varibael global di dalam suatu funsi. Untuk mengubah nilai varibel di dalam suatu fungsi, rujuk varibel tersebut dengan menggunakan global sebagai kata kunci.

In [4]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Tipe Data

Kita dapat menggunakan tipe data objek apa pun dengan menggunkan _type()_ sebagai fungsi.

In [5]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

ada tiga tipe data numerik dalam python:
int,
float dan 
complex.
varibel bertipe numerik dibuat saat anda menetapkan nilai padanya.

In [6]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Untuk memverifikasi jenis objek apa pun dalam Python, gunakan _type()_

1. int (Integer): Tipe data ini digunakan untuk menyimpan bilangan bulat (tanpa desimal). Contoh: x = 1 adalah sebuah bilangan bulat.

2. float (Floating Point): Tipe data ini digunakan untuk menyimpan angka dengan desimal atau pecahan. Contoh: y = 2.8 adalah sebuah angka desimal.

3. complex (Kompleks): Tipe data ini digunakan untuk menyimpan bilangan kompleks, yang terdiri dari bagian real dan bagian imajiner. Bilangan kompleks ditulis dengan format a + bj, di mana a adalah bagian real dan b adalah bagian imajiner. Contoh: z = 1j adalah bilangan kompleks dengan bagian real 0 dan bagian imajiner 1.

In [7]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Konversi Tipe

Kita dapat mengonversi dari satu tipe ke tipe lain dengan metode int(), float(), dan complex():

In [8]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number

Python tidak memiliki random()fungsi untuk membuat angka acak, tetapi Python memiliki modul bawaan yang disebut random yang dapat digunakan untuk membuat angka acak.

In [12]:
import random

print(random.randrange(1, 10))

3

Casting
Biasanya kita mungkin ingin menentukan tipe pada suatu variabel. Hal ini dapat dilakukan dengan casting. Dimana Python adalah bahasa berorientasi objek, sehingga menggunakan kelas untuk mendefinisikan tipe data, termasuk tipe primitifnya.

Oleh karena itu, pengecoran dalam python dilakukan dengan menggunakan fungsi konstruktor:

int() - membuat bilangan integer dari literal integer, literal float (dengan menghapus semua desimal), atau literal string (dengan syarat string tersebut mewakili bilangan bulat)
float() - membuat bilangan float dari literal integer, literal float, atau literal string (dengan syarat string tersebut mewakili float atau integer)
str() - membuat string dari berbagai macam tipe data, termasuk string, literal integer, dan literal float

In [13]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

Contoh casting:

In [14]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Contoh String

In [15]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

String dalam python diapit oleh tanda kutip tunggal atau tanda kutip ganda.

'halo' sama dengan "halo" .

Anda dapat menampilkan string literal dengan print()fungsi.

In [16]:
print("Hello")
print('Hello')

Hello
Hello

Quotes Inside Quotes

Anda dapat menggunakan tanda kutip di dalam string, selama tanda kutip tersebut tidak cocok dengan tanda kutip yang ada di sekitar string tersebut.

In [17]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Menetapkan String ke Variabel

Menetapkan string ke suatu variabel dilakukan dengan nama variabel diikuti tanda sama dengan dan string

In [18]:
a = "Hello"
print(a)

Hello

String 

Anda dapat menetapkan string multiline ke suatu variabel dengan menggunakan tiga tanda kutip.

In [19]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Atau tiga tanda kutip tunggal.

In [20]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

String adalah Array
Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array karakter unicode.

Namun, Python tidak memiliki tipe data karakter, karakter tunggal hanyalah string dengan panjang 1.

Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [21]:
a = "Hello, World!"
print(a[1])

e

Melakukan Perulangan Melalui String
Karena string adalah array, kita dapat melakukan pengulangan melalui karakter-karakter dalam string, dengan sebuah forperulangan.

Contoh

In [22]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length
Untuk mendapatkan panjang suatu string, gunakan len()fungsi.

In [24]:
a = "Hello, World!"
print(len(a))

13

Check String
Untuk memeriksa apakah frasa atau karakter tertentu ada dalam suatu string, kita dapat menggunakan kata kunci in.

In [25]:
txt = "The best things in life are free!"
print("free" in txt)

True

Gunakan dalam sebuah ifpernyataan:
Kode di bawah memeriksa apakah kata "free" ada dalam string txt. Jika kata "free" ditemukan, kondisi if akan bernilai True. Kemudian, program akan mencetak pesan "Yes, 'free' is present." sebagai hasilnya.

In [26]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Slicing

Anda dapat mengembalikan serangkaian karakter dengan menggunakan sintaksis irisan.

Tentukan indeks awal dan indeks akhir, dipisahkan dengan titik dua, untuk mengembalikan bagian string.

In [27]:
b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start
Dengan menghilangkan indeks awal, rentang akan dimulai pada karakter pertama

In [28]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End

Dengan menghilangkan indeks akhir , rentang akan mencapai akhir.

In [29]:
b = "Hello, World!"
print(b[2:])

llo, World!

Pengindeksan Negatif

Gunakan indeks negatif untuk memulai irisan dari akhir string
Dapatkan karakternya:

Dari: "o" di "Dunia!" (posisi -5)

Ke, tetapi tidak termasuk: "d" di "Dunia!" (posisi -2):

In [30]:
b = "Hello, World!"
print(b[-5:-2])

orl

Upper Case

Metode ini upper()mengembalikan string dalam huruf besar:

In [31]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case

Metode ini lower()mengembalikan string dalam huruf kecil:

In [32]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespace

Whitespace adalah spasi sebelum dan/atau sesudah teks sebenarnya, dan sering kali Anda ingin menghapus spasi ini.

In [33]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Replace String

Metode ini replace()mengganti satu string dengan string lain.

In [34]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

Metode ini split()mengembalikan daftar di mana teks di antara pemisah yang ditentukan menjadi item daftar Metode ini split()membagi string menjadi sub-string jika menemukan contoh pemisa.

In [36]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concatenation

Untuk menggabungkan, atau mengkombinasikan, dua string, Anda dapat menggunakan operator +.Gabungkan variabel adengan variabel bke dalam variabel c.

In [37]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Contoh
Untuk menambahkan spasi di antara keduanya, tambahkan " "

In [38]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format String

Seperti yang kita pelajari di bab Variabel Python, kita tidak dapat menggabungkan string dan angka seperti ini

In [39]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

F-String 

F-String diperkenalkan dalam Python 3.6, dan sekarang menjadi cara yang disukai untuk memformat string.

Untuk menentukan suatu string sebagai f-string, cukup letakkan sebuah fdi depan literal string, dan tambahkan tanda kurung kurawal {}sebagai tempat penampung untuk variabel dan operasi lainnya.

In [41]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Placeholder dan Modifier
Placeholder dapat berisi variabel, operasi, fungsi, dan pengubah untuk memformat nilai.ambahkan tempat penampung untuk pricevariabel:

In [42]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Placeholder dapat menyertakan pengubah untuk memformat nilai.

Pengubah disertakan dengan menambahkan titik dua :diikuti oleh jenis format yang sah, seperti .2fyang berarti angka titik tetap dengan 2 desimal:

In [43]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Placeholder dapat berisi kode Python, seperti operasi matematika:

In [44]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Karakter Escape
Untuk menyisipkan karakter yang ilegal dalam suatu string, gunakan karakter escape.

Karakter escape adalah garis miring terbalik \yang diikuti oleh karakter yang ingin Anda masukkan.

Contoh karakter ilegal adalah tanda kutip ganda di dalam string yang diapit tanda kutip ganda:

In [45]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-45-56cdf4283a8e>, line 1)

Untuk memperbaiki masalah ini, gunakan karakter escape \":

In [49]:
txt = "We are the so-called \"Vikings\" from the north."

Nilai Boolean
Dalam pemrograman, Anda sering kali perlu mengetahui apakah suatu ekspresi adalah Trueatau False.

Anda dapat mengevaluasi ekspresi apa pun dalam Python, dan mendapatkan salah satu dari dua jawaban, Trueatau False.

Saat Anda membandingkan dua nilai, ekspresi dievaluasi dan Python mengembalikan jawaban Boolean:

In [50]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Ketika Anda menjalankan suatu kondisi dalam pernyataan if, Python mengembalikan Trueor False:

In [51]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Mengevaluasi Nilai dan Variabel
Fungsi ini bool()memungkinkan Anda untuk mengevaluasi nilai apa pun, dan memberi Anda Trueatau False sebagai imbalannya,

In [52]:
print(bool("Hello"))
print(bool(15))

True
True

Sebagian Besar Nilai Adalah Benar
Hampir semua nilai dievaluasi Trueapakah memiliki semacam konten.

Semua string adalah True, kecuali string kosong.

Setiap bilangan adalah True, kecuali 0.

Semua daftar, tupel, himpunan, dan kamus adalah True, kecuali yang kosong.

In [53]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

Beberapa Nilai Salah
Faktanya, tidak banyak nilai yang bernilai False, kecuali nilai kosong, seperti (), [], {}, "", angka 0, dan nilai None. Dan tentu saja, nilai tersebut Falsebernilai False.

In [54]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Satu nilai lagi, atau objek dalam kasus ini, dievaluasi menjadi False, dan itu jika Anda memiliki objek yang dibuat dari kelas dengan __len__fungsi yang mengembalikan 0atau False:

In [55]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

Fungsi dapat mengembalikan Boolean
Anda dapat membuat fungsi yang mengembalikan Nilai Boolean:

Contoh
Cetak jawaban suatu fungsi:

In [56]:
def myFunction() :
  return True

print(myFunction())

True

Anda dapat mengeksekusi kode berdasarkan jawaban Boolean suatu fungsi:

Contoh
Cetak "YA!" jika fungsi mengembalikan Benar, jika tidak, cetak "TIDAK!":

In [57]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python juga memiliki banyak fungsi bawaan yang mengembalikan nilai boolean, seperti isinstance() fungsi, yang dapat digunakan untuk menentukan apakah suatu objek memiliki tipe data tertentu:

Contoh
Periksa apakah suatu objek merupakan bilangan bulat atau bukan:

In [58]:
x = 200
print(isinstance(x, int))

True

Python Operators

Operator digunakan untuk melakukan operasi pada variabel dan nilai.

Dalam contoh di bawah, kami menggunakan +operator untuk menambahkan dua nilai:

In [60]:
print(10 + 5)

15

Meskipun +operator ini sering digunakan untuk menjumlahkan dua nilai, seperti pada contoh di atas, operator ini juga dapat digunakan untuk menjumlahkan sebuah variabel dan sebuah nilai, atau dua variabel:

In [61]:
sum1 = 100 + 50      
sum2 = sum1 + 250    
sum3 = sum2 + sum2   

print(sum1)
print(sum2)
print(sum3)

150
400
800

Operator Aritmatika
Operator aritmatika digunakan dengan nilai numerik untuk melakukan operasi matematika umum. Contoh
Berikut adalah contoh penggunaan operator aritmatika yang berbeda:

In [62]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

Pembagian dalam Python
Python memiliki dua operator pembagian:

/ - Divisi (mengembalikan float)
// - Pembagian lantai (mengembalikan bilangan bulat)
Contoh
Pembagian selalu menghasilkan float:

In [63]:
x = 12
y = 5

print(x / y)

2.4

Operator Walrus
Python 3.8 memperkenalkan operator := , yang dikenal sebagai "operator walrus". Operator ini menetapkan nilai ke variabel sebagai bagian dari ekspresi yang lebih besar:

In [64]:
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")

if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements
List has 5 elements

Operator Perbandingan
Operator perbandingan digunakan untuk membandingkan dua nilai.

Contoh
Operator perbandingan mengembalikan Trueatau Falseberdasarkan perbandingan:

In [65]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

Operator Perbandingan Berantai
Python memungkinkan Anda untuk merangkai operator perbandingan:

In [66]:
x = 5

print(1 < x < 10)

print(1 < x and x < 10)

True
True

Operator Logika
Operator logika digunakan untuk menggabungkan pernyataan kondisional:

In [67]:
x = 5

print(x > 0 and x < 10)

True

Operator Identitas
Operator identitas digunakan untuk membandingkan objek, bukan jika objek tersebut sama, tetapi jika objek tersebut sebenarnya sama, dengan lokasi memori yang sama.

Operator iskembali Truejika kedua variabel menunjuk ke objek yang sama:

In [68]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

Contoh
Operator is notkembali Truejika kedua variabel tidak menunjuk ke objek yang sama:

In [69]:
x = ["apple", "banana"]
y = ["apple", "banana"]

print(x is not y)

True

Perbedaan Antara isdan==
adalah - Memeriksa apakah kedua variabel menunjuk ke objek yang sama di memori
== - Memeriksa apakah nilai kedua variabel sama
Contoh

In [70]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

Operator Keanggotaan
Operator keanggotaan digunakan untuk menguji apakah suatu urutan disajikan dalam suatu objek.

Periksa apakah "pisang" ada dalam daftar:

In [71]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

Contoh
Periksa apakah "nanas" TIDAK ada dalam daftar:

In [72]:
fruits = ["apple", "banana", "cherry"]

print("pineapple" not in fruits)

True

Keanggotaan dalam Strings
Operator keanggotaan juga bekerja dengan string:Keanggotaan dalam Strings
Operator keanggotaan juga bekerja dengan string:

In [73]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

Operator Bitwise
Operator bitwise digunakan untuk membandingkan angka (biner).

Operator & membandingkan setiap bit dan menetapkannya ke 1 jika keduanya bernilai 1, jika tidak maka ditetapkan ke 0:

Representasi biner dari 6 adalah 0110
Representasi biner dari 3 adalah 0011

Kemudian operator & membandingkan bit dan mengembalikan 0010, yang merupakan 2 dalam desimal.

In [74]:
print(6 & 3)

2

Contoh
Operator | membandingkan setiap bit dan menetapkannya ke 1 jika satu atau keduanya bernilai 1, jika tidak maka ditetapkan ke 0:

print(6 | 3)
Representasi biner dari 6 adalah 0110
Representasi biner dari 3 adalah 0011

Kemudian operator | membandingkan bit dan mengembalikan 0111, yang merupakan 7 dalam desimal.

In [75]:
print(6 | 3)

7

Contoh
Operator ^ membandingkan setiap bit dan menetapkannya ke 1 jika hanya satu yang bernilai 1, jika tidak (jika keduanya bernilai 1 atau keduanya bernilai 0) ditetapkan ke 0:

print(6 ^ 3)
Representasi biner dari 6 adalah 0110
Representasi biner dari 3 adalah 0011

Kemudian operator ^ membandingkan bit dan mengembalikan 0101, yang merupakan 5 dalam desimal.

In [76]:
print(6 ^ 3)

5