In [1]:
mahasiswa = ["Darmawati", "Adam", "Tri lutfia", "Elsa", "Stevano"]
mahasiswa.appdend ("aril")
mahasiswa.insert(3, "Adit")
mahasiswa.pop()
mahasiswa.sort(Stevano=True)
i = 1
for nama in mahasiswa:
print("nama Mahasiswa ke -", 1 , ": "nama)
i += 1
print(mahasiswa)
nama Mahasiswa ke - 1: Tri Lutfia
nama Mahasiswa ke - 2: Stevano
nama Mahasiswa ke - 3: Elsa
nama Mahasiswa ke - 4: Adit
nama Mahasiswa ke - 5: Adam

IndentationError: expected an indented block (<ipython-input-1-d978007f76b1>, line 8)


Analisis: 
Kode ini berfungsi untuk mengelola daftar mahasiswa, seperti menambah, menyisipkan, menghapus, mengurutkan, dan mencetak nama mahasiswa. Namun, terdapat beberapa kesalahan, seperti penulisan `appdend` yang seharusnya `append`, serta penggunaan argumen yang tidak valid pada `sort(Stevano=True)` yang harus diganti dengan `sort()` atau `sort(reverse=True)`. Untuk mencetak nama mahasiswa dengan nomor urut, lebih baik menggunakan `enumerate(mahasiswa, start=1)` daripada menggunakan variabel `i` yang tidak digunakan dengan benar. Selain itu, cetakannya harus menggunakan format yang benar, seperti koma atau f-string (`print(f"Nama Mahasiswa ke-{i}: {nama}")`). Beberapa perbaikan lain termasuk memperbaiki indentasi pada blok kode yang berulang, serta mengganti argumen dan memperbaiki penulisan sintaks yang salah.

In [9]:
for i in range(1, 14, 2):
    if i == 7:
        print("wow")
    else:
        print(i)

1
3
5
wow
9
11
13


Analisis :
pada code ini melakukan perulangan untuk mencetak angka ganjil dari 1 hingga 13, dengan menggunakan range(1, 14, 2), yang menghasilkan angka 1, 3, 5, 7, 9, 11, dan 13. Jika angka yang sedang diproses adalah 7, maka akan mencetak kata "wow", sedangkan untuk angka lainnya, program akan mencetak angka tersebut.

In [7]:
for i in range(1, 14, 2):
    if i == 7:
        print("wow")
    else:
        print(i)

1
3
5
wow
9
11
13


Analisis : 
pada code ini melakukan perulangan untuk mencetak angka ganjil dari 1 hingga 13, dimulai dari 1 dengan langkah 2 (jadi angka yang dicetak adalah 1, 3, 5, 7, 9, 11, 13). Namun, jika nilai i adalah 7, maka yang dicetak adalah kata "wow" daripada angka 7. Untuk nilai i yang lainnya, program akan mencetak angka tersebut.

In [8]:
i = 1
while i < 14:
    if i == 7:
        print("wow")
    else:
        print(i)
    i += 2

1
3
5
wow
9
11
13


Analisis : 
 Pada code ini menggunakan perulangan while untuk mencetak angka ganjil mulai dari 1 hingga kurang dari 14. Pada setiap iterasi, jika nilai i sama dengan 7, maka akan mencetak "wow", jika tidak, mencetak nilai i. Setelah setiap iterasi, nilai i akan bertambah 2, sehingga hanya angka ganjil yang akan dicetak (1, 3, 5, 7, 9, 11, 13).

In [4]:
i = 1
while i < 11:
    if i == 3:
        print("ha")
    else:
        print(i)
    
    if i == 5:
        print("ha")
    
    if i == 8:
        print("ha")
    
    i += 1

1
2
ha
4
5
ha
6
7
8
ha
9
10

Analisis : 
Pada code ini menggunakan perulangan while untuk mencetak angka dari 1 hingga 10, dan menambahkan pencetakan kata "ha" ketika nilai i adalah 3, 5, atau 8, namun terdapat kesalahan pada indentasi yang perlu diperbaiki agar semua kondisi if dieksekusi dengan benar sesuai urutan perulangan.

In [5]:
sum1 = 100 + 50      
sum2 = sum1 + 250    
sum3 = sum2 + sum2

Analisis : 
Pada code ini melakukan beberapa operasi penjumlahan berturut-turut: pertama, menjumlahkan 100 dan 50 untuk menghasilkan 150, kemudian menambahkan 250 ke hasil sebelumnya (150) untuk mendapatkan 400, dan terakhir, menggandakan nilai 400 dengan menambahkannya pada dirinya sendiri untuk menghasilkan 800.